body {
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  max-height: 100vh; /* Sayfa yüksekliği sınırlaması */
  overflow-y: auto; /* Sayfa kaydırılabilir */
}

.discount-form {
  max-width: 600px;
  margin: auto;
}

.discount-btn {
  margin-bottom: 20px;
}

.discount-table {
  margin-top: 20px;
  width: 100%;
}

.select,
.input-number {
  width: 100%;
  margin-bottom: 10px;
}