.category-item {
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
}

.category-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: color 0.4s ease;
}

/* dikdörtgen alan */
.category-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #1367ef;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

/* mouse üzerine gelince */
.category-item:hover::after {
  width: 120%;
  height: 120%;
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1),
    height 1s cubic-bezier(0.4, 0, 0.2, 1);
}

/* yazı rengi */
.category-item:hover .category-link {
  color: #fff;
}
