/* Sayfa düzeyinde yatay kaydırma */
.page-container {
    overflow-x: auto;
    width: 100%;
  }
  
  .category-page-table {
    min-width: 800px; /* Bu değeri ihtiyacınıza göre ayarlayabilirsiniz */
  }
  
  @media (max-width: 768px) {
    .category-page-table {
      width: 100%;
    }
  }